@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --dark: #0b111c;
    --medium: #2d4263;
    --light: #fff6e4;
    --accent: #c84b31;

    --title-xl: 64px;
    --title-lg: 32px;
    --title-md: 26px;
    --subtitle-lg: 20px;
    --subtitle-md: 18px;
    --subtitle-sm: 14px;

    background-color: var(--dark);
    color: var(--light);

}
 
body{
    margin: 0;
    margin-top: -0.05em;
    padding: 0;
}

a, .links{
    color: var(--medium);
}

.section {
    padding-top: 6em;
    width: 100%;
    height: 100%;
}


/************************************** FONTS AND COLORS **************************************************/
.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

 .poppins {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
} 

.title-xl-light{
    font-family: "Work Sans" sans-serif;
    font-size: var(--title-xl);
    color: var(--light);
}

.title-xl-dark{
    font-family: "Work Sans" sans-serif;
    font-size: var(--title-xl);
    color: var(--dark);
}

.title-xl-acc{
    font-family: "Work Sans" sans-serif;
    font-size: var(--title-xl);
    color: var(--accent);
}

.title-lg-light{
    font-family: "Work Sans" sans-serif;
    font-size: var(--title-lg);
    color: var(--light);
}

.title-lg-dark{
    font-family: "Work Sans" sans-serif;
    font-size: var(--title-lg);
    color: var(--dark);
}

.title-lg-dark{
    font-family: "Work Sans" sans-serif;
    font-size: var(--title-lg);
    color: var(--accent);
}

.title-md-light{
    font-family: "Work Sans" sans-serif;
    font-size: var(--title-md);
    color: var(--light);
}

.title-md-dark{
    font-family: "Work Sans" sans-serif;
    font-size: var(--title-md);
    color: var(--dark);
}

.title-md-acc{
    font-family: "Work Sans" sans-serif;
    font-size: var(--title-md);
    color: var(--accent);
}

.p-light{
    font-size: var(--subtitle-lg);
    color: var(--light);
}

.p-dark{
    font-size: var(--subtitle-lg);
    color: var(--dark);
}

.p-md-light{
    font-size: var(--subtitle-md);
    color: var(--light);
}

.p-md-dark{
    font-size: var(--subtitle-md);
    color: var(--dark);
}

.p-sm-light{
    font-size: var(--subtitle-sm);
    color: var(--light);
}

.p-sm-dark{
    font-size: var(--subtitle-sm);
    color: var(--dark);
}


.padding-root {
    padding: 0em 2em;
    
}


/*********************************** BUTTONS *********************************************/

.btn-fill, .btn-lined:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--light);
    background-color: var(--light);
    height: 2.75em;
    border-radius: 5px;
    color: var(--dark);
    font-size: var(--subtitle-md);
    width: 100%;
}

.btn-lined, .btn-fill:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--light);
    background-color: transparent;
    height: 2.75em;
    border-radius: 5px;
    color: var(--light);
    font-size: var(--subtitle-md);
    width: 100%;
}

.btn-fill-drk, .btn-lined-drk:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--dark);
    background-color: var(--dark);
    height: 2.75em;
    border-radius: 5px;
    color: var(--medium);
    font-size: var(--subtitle-md);
    width: 100%;
}

.btn-lined-drk, .btn-fill-drk:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--dark);
    background-color: transparent;
    height: 2.75em;
    border-radius: 5px;
    color: var(--dark);
    font-size: var(--subtitle-md);
    width: 100%;
}