
.explore {
    height: 147px;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
}

.explore h3 {
    opacity: 50%;
    font-weight: 100;
}

.explore h3:hover {
    opacity: 100%;
    transition: opacity .2s ease-in;
}