.discover-container {
    display: flex;
    padding-top: 125px;
    height: fit-content;
    font: 1.25em sans-serif;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid blue;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5em;
    border: 1px solid lime;
    width: 85%;
    height: fit-content;
    margin: 10px
  }

.list-container p{
    margin: -0.125em;
    font-size: 20px;
}

.movies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    border: 1px solid orange;
  }

  .movies-container .card {
    width: 4em; /* Smaller width for MovieCards in movies-container */
    height: fit-content; /* Adjust height dynamically */
    font-size: 0.75em; /* Scale down text size */
    margin: 0.5em; /* Add spacing between cards */
    border: 1px solid white
  }

  .search-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 10px;
    font: 1em sans-serif;
    gap: 3em;
    margin-bottom: 2em;;
    border: 1px solid lime
  }

  .search-bar{
    width: 65%;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border: 1px solid #0fdfff;
    border-radius: 3.5px;
    height: 1.75rem;
  }

  .search-bar::placeholder{
    padding-left: 0.5em;
  }


  .search-button {
    border: 2px solid #000000;
    background-color: transparent;
    height: 2.25rem;
    border-radius: 3.5px;
    font-size: 0.75em;
    width: 15%;
  }

  .image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 1px solid white
  }

  .image-container img {
    display: block;
    width: 100%;
  }

  @media (max-width: 425px) {
    .search-button {
      font-size: .6em
    }

    .search-bar-container{
      gap: 2em
    }
  }

  @media (max-width: 375px) {
    .search-button {
      font-size: .5em
    }

    .search-bar-container{
      gap: 1em
    }
  }