.discover-container {
    display: flex;
    padding-top: 125px;
    height: fit-content;
    font: 1.25em sans-serif;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5em;
    width: 85%;
    height: fit-content;
    margin: 10px;
    gap: 10px
  }


.movies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
  }

  .discover-card {
    width: 8em; /* Smaller width for MovieCards in movies-container */
    height: fit-content; /* Adjust height dynamically */
    font-size: 0.75em; /* Scale down text size */
    margin: 0.5em; /* Add spacing between cards */
    cursor: pointer;
  }

  .discover-card:hover {
    scale: 1.03;
    transition: scale .3 ease-out;
  }

  .discover-card-title {
    color: beige
  }

  .search-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 10px;
    font: 1em sans-serif;
    gap: 3em;
    margin-bottom: 2em;;
  }

  .search-bar{
    width: 65%;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border: 1px solid var(--medium);
    border-radius: 3.5px;
    height: 1.75rem;
  }

  .search-bar::placeholder{
    padding-left: 0.5em;
  }


  .search-button {
    height: 2.25rem;
    border-radius: 3.5px;
    font-size: 0.75em;
    width: 15%;
  }

  .search-button:hover {
    height: 2.25rem;
    border-radius: 3.5px;
    font-size: 0.75em;
    width: 15%;
  }

  .image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 1px solid white
  }

  .image-container img {
    display: block;
    width: 100%;
  }

  @media (max-width: 425px) {
    .search-button {
      font-size: .6em
    }

    .search-bar-container{
      gap: 2em
    }

    .movies-container {
      justify-content: center;
    }

    .list-container {
      align-items: center;
    }
  }

  @media (max-width: 375px) {
    .search-button {
      font-size: .5em
    }

    .search-bar-container{
      gap: 1em
    }
  }

  .form-input::placeholder {
    font: var(--subtitle-md);/* Optional: Adjust the font size */
    color: var(--medium) ;
    opacity: 1; /* Ensure the placeholder is fully visible */
    padding-left: 0.5rem;
  }

  input[type="text"], textarea {

    background-color : var(--light);
    color: var(--dark); 
  
  }

  input[type="password"], textarea {

    background-color : var(--light);
    color: var(--dark); 
  
  }