
.flickpicks {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.info-blurb {
    position: absolute;
    top: 15%;
    width: 350px;
    height: fit-content;
    margin: 0 auto;
    opacity: 100%;
}

.cards-row {
    position: absolute;
    top: 25%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: fit-content;
    width: fit-content;

}

.card {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin-top: 50px;
    text-align: center;
    opacity: 80%;
    flex: 1 1 100%;
}

.card:hover {
    scale: 1.2;
    transition: scale .3 ease-in;
    opacity: 100%;
    transition: opacity .3 ease-in;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-title {
    
    font-size: var(--subtitle-lg); 
    font-weight: bold;
    /* text-transform: uppercase; */
  }

.flickpicksCard {
    height: 300px;
    width: fit-content;
    inline-size: 200px;
    text-align: center;
    
}

.flickpicks img{
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card-description{
    padding: 0px;
    font: var(--subtitle-sm) sans-serif;
    color: var(--medium);
}

.card-info-container{
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    align-items: center;

}

.btn-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    gap: 1em;

}

@media (max-width: 768px) {
    .card {
        max-width: 100px;
        flex: 1 1 calc(50% - 20px); /* Make cards take 50% width on smaller screens */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; /* Make cards take full width on very small screens */
    }
}