

.flickpicks {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.info-blurb {
    font: var(--subtitle-lg) sans-serif;
    color: var(--medium);
    width: 30em;
    height: fit-content;
    margin: 0 auto;
    opacity: 100%;
}

.cards-row {
    padding: 3em;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    height: fit-content;
    width: fit-content;
    column-gap: 50px;
    row-gap: 120px

}

.card {
    border: 1px solid var(--dark);
    height: 200px;
    width: 200px;
    
    text-align: center;
    opacity: 80%;
}

.card:hover {
    scale: 1.2;
    transition: scale .3 ease-in;
    opacity: 100%;
    transition: opacity .3 ease-in;
}

.card img {
    width: 100%;
    height: 100%
}

.card-title {
    padding-top: 10px; 
    font-size: var(--subtitle-lg); 
    font-weight: bold;
    /* text-transform: uppercase; */
  }

.flickpicksCard {
    height: 500px;
    width: 400px;
}

.card-description{
    padding: 0px;
    font: var(--subtitle-sm) sans-serif;
    color: var(--medium);
}