.flickpicks {
    border: 1px solid black;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-blurb {
    position: absolute;
    top: 15%;
    max-width: 350px;
    min-width: 80px;
    padding: 5px;
    height: fit-content;
    margin: 0 auto;
    font-size: 15px;
    opacity: 70%;
}

.cards-row {
    position: absolute;
    top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    height: fit-content;
    width: fit-content;
}

.card {
    flex: 1 1 calc(25% - 20px); 
    max-width: 200px; 
    min-width: 50px;
    border: 1px solid black;
    overflow: hidden;
    margin-top: 50px;
    text-align: center;
    opacity: 80%;
    flex: 1 1 100%;
}

.card:hover {
    scale: 1.2;
    transition: scale .3 ease-in;
    opacity: 100%;
    transition: opacity .3 ease-in;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-title {
    margin-top: 10px; 
    font-size: 16px; 
    font-weight: bold;
  }

.flickpicksCard {
    height: 500px;
    width: 400px;
}

@media (max-width: 768px) {
    .card {
        max-width: 100px;
        flex: 1 1 calc(50% - 20px); /* Make cards take 50% width on smaller screens */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; /* Make cards take full width on very small screens */
    }
}