
h1 {
    text-align: center;
}

p {
    font-size: 0.9rem;
    text-align: center;
    color: #000000;
}

a{
    text-decoration: none;
    color: #a0a0a0;
}

.form-container {
  font: var(--medium) var(--subtitle-md) sans-serif;
  padding: 1rem;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  z-index: 50;
}

.form-container > * {
  flex: 1; /* Ensures all child elements have the same width */
  max-width: 400px; /* Optional: Set a maximum width for each child */
  height:auto;
  align-items: center;
  justify-content: center;
}



img {
    max-width: 300px;
    height: auto;
  
}

.form-group {
    padding-bottom: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;

    
  }

  .form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dark);
    border-radius: 3.5px;
    height: 2.5rem;
    width: 100%;
    font-size: var(--subtitle-md);
    padding-left: 0.5rem;
  }

  .form-input::placeholder {
    font: var(--subtitle-md);/* Optional: Adjust the font size */
    color: var(--medium) ;
    opacity: 1; /* Ensure the placeholder is fully visible */
    padding-left: 0.5rem;
  }

  input[type="text"], textarea {

    background-color : var(--light);
    color: var(--dark); 
  
  }

  input[type="password"], textarea {

    background-color : var(--light);
    color: var(--dark); 
  
  }

  .form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
    background-color: transparent;
    height: 2.75rem;
    border-radius: 5px;
    font-size: 0.75em;
    font: #000000;
    width: 100%;
  }

  .form-button:hover {
    background-color: #5a5a5a;
    font: #ffffff;
  }

  .form-button:active{
    background-color: #000000;
  }