.friendlist {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 30px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--medium);
}

.friend {
    border: 1px solid rgb(236, 219, 186, .1);
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: var(--medium);
    padding: 10px 0px 10px 0px;
}

.friend img {
    width: 50px;
    height: 50px
}

.friend p {
    margin: 0;
    margin-left: 5px;
    /* font-size: 18px;  */
}

.buttons {
    position: absolute;
    right: 15px;
    display: flex;
    gap: 10px
}

.flicklist {
    border: 1px solid rgb(0, 0, 0, .3);
    border-radius: 10px;
    padding: 10px
}

.flicklist-item {
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
}

.flicklist-item:hover, .flicklist-item:focus {
    border: 1px solid blue;
}


@media (max-width: 768px) {
    .friend {
        padding: 20px 0px 20px 0px;
    }

    .friend img {
        width: 30px; /* Further reduce image size */
        height: 30px;
    }

    .friend p {
        font-size: 14px; /* Further reduce font size */
    }

    .buttons {
        flex-direction: column; /* Stack buttons vertically */
        gap: 5px; /* Reduce gap between buttons */
    }

    .btn-fill-drk, .btn-lined-drk {
        font-size: 8px;
    }
}

@media (max-width: 480px) {
    .friend {
        padding: 20px 0px 20px 0px;
    }

    .friend img {
        width: 20px; /* Further reduce image size */
        height: 20px;
    }

    .friend p {
        font-size: 10px; /* Further reduce font size */
    }

    .buttons {
        flex-direction: column; /* Stack buttons vertically */
        gap: 5px; /* Reduce gap between buttons */
    }

    .btn-fill-drk, .btn-lined-drk {
        font-size: 8px;
        height: fit-content
    }
}


.btn-friend-fill, .btn-friend-lined:hover{
    display: flex;
    height: 2em;
    color: var(--medium)
  }

  .btn-friend-lined, .btn-friend-fill:hover{
    display: flex;
    height: 2em;
    color: var(--dark)
  }

