.list-box {
    border-left: 3px solid rgb(62, 91, 138);
    position: absolute;
    width: 25%;
    min-height:100vh;
    top: 80px;
    right: 0px;
    z-index: 2;
    background-color: var(--medium);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.add-friend {
    margin: 60px 10px 0px 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;

}

.add-friend button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    height: 20px
}
.send-icon {
    width: 15px;
    height: 15px;
}


@media (max-width: 768px) {
    .list-box {
        width: 40%
    }
}

@media (max-width: 425px) {
    .add-input {
        font-size: 9px;
        padding: 1px
    }

    .send-icon {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 320px) {
    .list-box {
        width: 50%;
        right: -25px
    }
}

.friends-form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dark);
    border-radius: 3.5px;
    height: 2.5rem;
    width: 100%;
    font-size: var(--subtitle-md);
    padding-left: 0.5rem;
    flex:4;
    color: var(--medium);
    background-color: var(--dark);
  }

  input[type=text]{
    background-color: var(--dark);
    color: var(--medium);
    
  }

  .btn-flex {
    display: flex;
    height: 2.5em;
    flex: 1;
  }

  .btn-flex:hover {
    display: flex;
    height: 2.5em;
    flex: 1;
  }

  

