

.navbar {
    width: 100vw;
    height: 80px;
    border: 1px solid black;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 100;
}

.logo {
    position: absolute;
    left: 1vw;
    font-size: 40px;
    font-weight: bold;
}

.tabs-box {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 3vw;
    bottom: 20%;
    gap: 50px;

}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.tab p{
   margin: 0;
   font-size: 13px;
}

.tab:hover {
    opacity: 100%;
    scale: 1.03;
    transition: opacity .3s ease-in;
}

.remove-btn-styling {
    border: none;
    padding: 0;
    background-color: transparent;
    opacity: 50%;
}
.selected {
    opacity: 100%
}