

.navbar {
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: var(--light);
    z-index: 100;
}

.navbar img{
    padding-left: 2%;
    
}

.image-container{
    height: 100;
    width: auto;
}

.logo {
    position: absolute;
    left: 1vw;
    font-size: 40px;
    font-weight: bold;
}

.tabs-box {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 3vw;
    gap: 50px;

}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 50%;
    width: 40px;
    height: 40px;
    font: var(--subtitle-md) sans-serif;
}

.tab-title{
   margin: 0;
   font-size: var(--subtitle-md);
}

.tab:hover {
    opacity: 100%;
    scale: 1.03;
    transition: opacity .3s ease-in;
    color: var(--dark);
}

.remove-btn-styling {
    border: none;
    padding: 0;
    background-color: transparent;
    opacity: 50%;
}
.selected {
    opacity: 100%
}

@media (max-width: 1400px) {
    .tab {
        width: 30px;
        height: 30px
    }
}

@media (max-width: 967px) {
    .tab {
        width: 20px;
        height: 20px
    }

    .tab-title{
        font-size: var(--subtitle-sm)
    }

    .logo {
        font-size: 30px;
    }
}

@media (max-width: 740px) {
    .tab {
        width: 20px;
        height: 20px
    }

    .tab-title{
        font-size: var(--subtitle-sm)
    }

    .logo {
        font-size: 25px;
    }

    .tabs-box {
        gap: 45px
    }
}

@media (max-width: 607px) {
    .tab {
        width: 15px;
        height: 15px
    }

    .tab-title{
        font-size: 12px
    }

    .logo {
        font-size: 20px;
    }

    .tabs-box {
        gap: 45px
    }
}

@media (max-width: 500px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px
    }

    .tabs-box {
        position: static;
    }

    .logo {
        position: static;
    }
}

@media (max-width: 375px) {
    .tab {
        width: 12px;
        height: 12px
    }

    .tab-title{
        font-size: 10px
    }

    .tabs-box {
        gap: 40px
    }
}