ul {
    list-style-type: none;
    padding: 1em;
    font-size: 0.65em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--medium);
  }

  li {
    padding: 0.5em;
  }

.profile-container {
  display: flex;
  height: 90vh;
  font: 1.25em sans-serif;
  gap: 1em;
  background-color: var(--dark);
}

.profile-user {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--light);
  margin-top: 5px;
  border: 1px solid var(--dark);

  flex: 0.65;
  height: 100%;
  gap: 0.5em;
}

.profile-user p {
    font-size: 0.65em;
    margin: -0.125em;
  }

.profile-user img {
    width: 45%;
    height: auto;
    border-radius: 50%;
    padding-top: 0.25em;
  }

.profile-user button {
    margin-top: auto;
    margin-bottom: 4em;

    height: 2.5rem;
    border-radius: 5px;
    font-size: 0.75em;
    width: 70%;
    
}

.profile-user button:hover {
  margin-top: auto;
  margin-bottom: 4em;

  height: 2.5rem;
  border-radius: 5px;
  font-size: 0.75em;
  width: 70%;
  
}

.profile-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1em;
    flex:3;
  }

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1em;
  }

.list-container p{
    margin: -0.125em;
}

.movies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
    
  }

  .movies-container .card {
    width: 8em; /* Smaller width for MovieCards in movies-container */
    height: auto; /* Adjust height dynamically */
    font-size: 0.75em; /* Scale down text size */
    margin: 0.5em; /* Add spacing between cards */
  }

  .collab-card {
    flex: 0 1 calc(25% - 1rem); /* Make each card take up 25% of the row, minus the gap */
    box-sizing: border-box; /* Include padding and border in the width */
}

  .log-out-btn {
    color: var(--accent)
  }

  @media (max-width: 768px) {
    .profile-container {
      flex-direction: column;
      height: 90vh;
      font: 1.25em sans-serif;
      gap: 1em;
    }

    .profile-user {
      border-right: 0px;
      height: 40vh;
      padding-top: .5em;
      gap: .1em;
      position: relative;
      top: -76px
    }

    .profile-user p {
      font: 0.35em sans-serif;
 
    }
  
  .profile-user img {
      width: 25%;
      height: auto;
      border-radius: 50%;
      padding: 0.25em;
    }
  
  .profile-user button {
      font: 1em sans-serif;
      margin-top: auto;
      margin-bottom: 2em;
      border: 2px solid var(--dark);
      background-color: transparent;
      height: 2.5rem;
      border-radius: 5px;
      font-size: 0.75em;
      width: 70%;
      
  }
  }
 