.teases-box {
    position: relative;
    border-top: 1px solid black;
    height: 350px;
    width: 60%;
    margin-bottom: 100px;
}

.tabs {
    display: flex;
    gap: 20px;
    margin-left: 5px;
}

.tease-title {
    font-size: 25px;
    opacity: 50%;
}

.selected {
    opacity: 100%;
}

.tabs h1:hover {
    opacity: 100%;
    scale: 1.1;
    transition: opacity .3s ease-in;
    transition: scale .1s ease-in;
}